$mainColor: #7777bb;

.intro-component {
  padding: 20px;
  background: $mainColor;
  color: #fff;
  font-family: arial;

  h1 {
    text-transform: uppercase;
    background: url('../images/flower.jpg');
    padding-top: 500px;
  }

}

.unused {
  margin-left: 10px;
}
